<!-- Add jQuery if not already present -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="~/assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="~/assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Faqs</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="index.html">Home</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i></li>
                    <li>Faq</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Faq Section Start -->
<section class="faq-section fix section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="faq-left">
                        <ul class="nav" role="tablist">
                            @if (ViewBag.Categories != null)
                            {
                                foreach (var cat in ViewBag.Categories)
                                {
                                    <li class="nav-item" role="presentation">
                                        <a href="#" class="nav-link faq-tab @(ViewBag.SelectedCategoryId == cat.Id ? "active" : "")"
                                           data-category-id="@cat.Id" role="tab">
                                            @cat.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="tab-content">
                        <div id="faq-content-wrapper" class="tab-pane fade show active" role="tabpanel">
                            @Html.Partial("_FaqListPartial", (List<ShradhaGeneralBookStore.Models.Entities.Faq>)ViewBag.Faqs)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.faq-tab').click(function (e) {
            e.preventDefault();
            var categoryId = $(this).data('category-id');

            $('.faq-tab').removeClass('active');
            $(this).addClass('active');

            $.ajax({
                url: '/Pages/GetFaqsByCategory',
                type: 'GET',
                data: { categoryId: categoryId },
                success: function (result) {
                    $('#faq-content-wrapper').html(result);
                },
                error: function () {
                    alert('Something went wrong while fetching FAQs.');
                }
            });
        });
    });
</script>
